*.pyc
__pycache__/

# Python deployment artifacts
.pytest_cache/
*.egg-info/

# Visual Studio Code's project specific configuration
.vscode/

venv/

# Web Scraper Files
scraper.py
data/

requests.http

.env
